{% block content %} 
<div data-role="page" id="index">
  <div class="ui-panorama ui-panorama--home">
    <h1>bloom</h1>

    <div class='ui-panorama-items'>
      <div class="ui-panorama-item menu">
        <ul>
          <li><a href="/radio">all radio</a></li>
          <li>library</li>
          <li>account</li>
          <li>settings</li>
          <li>subscriptions</li>
          <li><a href="/history">history</a></li>
        </ul>
      </div>

      <div class="ui-panorama-item radio">
        <h2>radio</h2>
        <div class="panorama-item__content">
          <a href="/player">{{ "radio.jpg" | asset_url | image_tag }}</a>
        </div>
      </div>

      <div class="ui-panorama-item new-releases">
        <h2>new releases</h2>
        <div class="panorama-item__content">
          <ul>
            <li><img src="http://imgsrc.me/300x300/9a1e1b/f3f3f3?"></li>
            <li><img src="http://imgsrc.me/300x300/9a1e1b/f3f3f3?"></li>
            <li><img src="http://imgsrc.me/300x300/9a1e1b/f3f3f3?"></li>
            <li><img src="http://imgsrc.me/300x300/9a1e1b/f3f3f3?"></li>
            <li><img src="http://imgsrc.me/300x300/9a1e1b/f3f3f3?"></li>
            <li><img src="http://imgsrc.me/300x300/9a1e1b/f3f3f3?"></li>
            <li><img src="http://imgsrc.me/300x300/9a1e1b/f3f3f3?"></li>
            <li><img src="http://imgsrc.me/300x300/9a1e1b/f3f3f3?"></li>
          </ul>
        </div>
      </div>

      <div class="ui-panorama-item playlists" >
        <h2>playlist</h2>
        <div class="panorama-item__content">
          <ul>
            <li class="playlist-item">
              <img src="http://imgsrc.me/60x60/9a1e1b/f3f3f3?">
              <p>Playlist title</p>
            </li>
            <li class="playlist-item">
              <img src="http://imgsrc.me/60x60/9a1e1b/f3f3f3?">
              <p>Playlist title</p>
            </li>
            <li class="playlist-item">
              <img src="http://imgsrc.me/60x60/9a1e1b/f3f3f3?">
              <p>Playlist title</p>
            </li>
            <li class="playlist-item">
              <img src="http://imgsrc.me/60x60/9a1e1b/f3f3f3?">
              <p>Playlist title</p>
            </li>
            <li class="playlist-item">
              <img src="http://imgsrc.me/60x60/9a1e1b/f3f3f3?">
              <p>Playlist title</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="ui-panorama-item borrowed">
        <h2>borrowed</h2>
        <div class="panorama-item__content">
          <ul>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
            <li><a href="/player">{{ "100x100" | placeholder:'9a1e1b','f3f3f3' | image_tag }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "app-bar" %}
{% endblock %}

{% block scripts %}
  {{ "_home.js" | asset_url | script_tag }}
{% endblock %}